.sidebar {
  position: fixed;
  width: 300px;
  height: 1000px;
  background-color: coral; 
}

h2 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
}

.image-cropper {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: block; 
  margin: 0 auto;
  height: 100%;
  width: auto;
}
