h1 {
  font-family: "Nirmala UI Semilight", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

p {
  font-family: "Nirmala UI Semilight", sans-serif;
  font-size: 16px;
}

img {
  border-radius: 50%;
}
