.sidebar {
  width: max-content;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: SlateBlue;
  justify-content: center;
  justify-items: center;
}

.name {
  width: auto;
  height: 50px;
  position: fixed;
  top: 200px;
  justify-content: center;
  justify-items: center;
  margin: auto;
  vertical-align: middle;
  padding-bottom: 10px;
}

h2 {  
  color: White;
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
}

.info {
  width: auto;
  height: auto;
  position: fixed;
  top: 250px;
  vertical-align: middle;
  justify-content: center;
  justify-items: center;
  padding-top: 20px;
  margin: auto;
}

p {  
  font-family: "Nirmala UI", sans-serif;
  color: LightYellow;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.image-cropper {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center; 
  vertical-align: middle;
  position: fixed;
  justify-content: center;
  justify-items: center;
  top: 50px;
  z-index: 20;
}

img.image-cropper {
  display: block; 
  border: none;
  margin:  0 auto;
}
