.top {
  position: fixed;
  width: 100%;
  height: 100%;
}

.chicago-skyline {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  padding: 0;
  z-index: -1;
}

h2 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
}

.image-cropper {
  height:150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;  
  z-index: 3;
}

img {
  display: block; 
  border: none;
  margin:  0 auto;
}
