body {
  background-image: url("background.JPG");
  background-size: cover;
  z-index: -1;
}

.name {
  position: absolute;
  top: 200px;
  color: white;
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  margin: 0 auto;
}

.intro {
  position: absolute;
  top: 300px;
  color: white;
  font-family: "Nirmala UI", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.image-cropper {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center; 
  vertical-align: middle;
  position: absolute;
  top: 50px;
  left: 35%;
  right: 50%;
  z-index: 20;
}

img.image-cropper {
  display: block; 
  border: none;
  margin:  0 auto;
}
