.sidebar {
  position: fixed;
  width: 300px;
  height: 1000px;
  background-color: coral; 
}

h2 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
}

.image-cropper {
  height:100px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;  
}

img {
  display: block; 
  border: none;
  margin:  0 auto;
}
