body {
  background-image: url("background.JPG");
  background-size: cover;
  z-index: -1;
}

.header {
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50%;
  z-index: 10;
}

h2 {
  font-family: "Nirmala UI", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

p {
  font-family: "Nirmala UI Semilight", sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
}

.image-cropper {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;  
  z-index: 25;
  padding-top: 100px;
  padding-left: 50%;
  padding-right: 30%;
}

img {
  display: block; 
  border: none;
  margin:  0 auto;
}
