#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bg img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

.name {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  justify-content: center;
  justify-items: center;
}

h2 {  
  color: AliceBlue;
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
}

.info {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 200px;
  vertical-align: middle;
  justify-content: center;
  justify-items: center;
}

p {  
  font-family: "Nirmala UI", sans-serif;
  color: AntiqueWhite;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.image-cropper {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center; 
  vertical-align: middle;
  position: absolute;
  top: 50px;
  left: 40%;
  right: 50%;
  z-index: 20;
}

img.image-cropper {
  display: block; 
  border: none;
  margin:  0 auto;
}
