body {
  background-image: url("background.JPG");
  background-size: cover;
  z-index: -1;
}

.name {
  width: 100;
  height: 50px;
  position: absolute;
  top: 200px;
  vertical-align: middle;
}

h2.name {  
  color: aliceblue;
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
}

.intro {
  width: 100%;
  height: 2000px;
  position: absolute;
  top: 500px;
  vertical-align: middle
}

p.intro {  
  color: antiquewhite;
  font-family: "Nirmala UI", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.image-cropper {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center; 
  vertical-align: middle;
  position: absolute;
  top: 50px;
  left: 45%;
  right: 50%;
  z-index: 20;
}

img.image-cropper {
  display: block; 
  border: none;
  margin:  0 auto;
}
